/*-------------*/
/*  Variables  */
/*-------------*/

:root {
	--ff-title-text: 'Roboto Slab', serif;
  --ff-main-text: 'Open Sans', sans-serif;
  --ff-section-text: 'Ubuntu', monospace;

/* font sizes based on 1.250 scale */

  --fs-300: 0.8rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.563rem;
	--fs-700: 1.953rem;
	--fs-800: 2.441rem;
	--fs-900: 3.05rem;

/* colors based off of purple header */

	--clr-main: 270, 48%, 67%;
	--clr-main-dark: 270, 62%, 12%;
	--clr-main-light: 270, 79%, 81%;
	--clr-text-light: 270, 0%, 93%;
	--clr-text-dark: 270, 0%, 10%;
	--clr-text-hover: 270, 80%, 35%;
}

/*-------------*/
/* Main Layout */
/*-------------*/

html,
body {
	display: flex;
	flex-direction: column;
	font-family: var(--ff-main-text);
	color: hsl(var(--clr-text-dark));
	font-size: var(--fs-400);
}

body {
	position: relative;
}

header {
	background-color: hsl(var(--clr-main));
	margin-bottom: 2rem;
}

footer {
	background-color: hsl(var(--clr-main));
}

.container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	max-width: 1300px;
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0.5rem;
}

/*-------------*/
/*  Navigation */
/*-------------*/

nav {
	display: flex;
	align-items: center;
}

.nav_container {
	display: flex;
	flex-direction: column;
}

footer .container {
	justify-content: center;
}

nav a {
	font-family: var(--ff-title-text);
	text-decoration: none;
	color: hsl(var(--clr-text-dark));
}

nav a:hover,
nav a:focus {
	color: hsl(var(--clr-text-hover));
}

/*-------------*/
/* Typography  */
/*-------------*/

.logo {
	font-size: var(--fs-500);
}


